{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>LINA | Rotulador</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="{% static 'core/css/main.css' %}"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body class="subpage">
		{% block content %}
        {% endblock %}
        
        <!-- Footer -->
		<footer id="footer" style="text-align: center;">
			<div class="inner">
				<div class="copyright">
					<b>LINA | Laboratório de Inteligência Artificial</b> 
					</br>
					Universidae Federal do Piauí.
					</br>
					Teresina, Piauí, Brasil.
					</br>
					<a href="mailto:lina@ufpi.edu.br">lina@ufpi.edu.br</a>
					</br>
					&copy; 2018 LINA. Powered using <a href="https://templated.co">Templated</a> theme.
				</div>
			</div>
		</footer>
	</body>	
	<!-- Scripts -->
	<script src="{% static 'core/js/jquery.min.js' %}"></script>
	<script src="{% static 'core/js/main.js' %}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>		
</html>