{% extends 'core/base.html' %}

{% block content %}
<!-- Header -->
<header id="header">
	<div class="inner">
		<a href="" class="logo">LINA | Laboratório de Inteligência Artificial</a>
		<nav id="nav">
			<a href="">Início</a>
			<a href="">Sobre</a>
		</nav>
		<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
	</div>
</header>
<!-- Three -->
<section id="three" class="wrapper">
	<div class="inner">
		<header class="align-center">
			<div class="principal">
				<h2>Rotulador LINA</h2>
			</div>
			<div id="file_select" >
				<form id="form_file" method="POST" onsubmit="return false" enctype="multipart/form-data">
					{% csrf_token %}
					<input style="margin: auto;" type="file" name="file">
					<p></p>
					<footer>
						<a onclick="UploadFile()" class="button special">Upload</a>
					</footer>
				</form>
			</div>
			<div id="file_name"></div>
			<input type="hidden" id="file_id" value="0">
			<div id="erro"></div>
		</header>
		<div id="algorithm">
		</div>
		<div id="rotulo">
		</div>
	</div>
</section>
{% endblock %}
