<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Atributos</th>
			<th>Intervalos</th>
			<th>Limite</th>
		</tr>
	</thead>
	<tbody id="colunas">
		{% for coluna,limite in colunas %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td>{{ coluna }} </td>
			<td><input type="number" name="{{coluna}}" min="1" max="{{limite}}" value="1"></td>
			<td>{{ limite }} </td>
		</tr>
		{% empty %}
        <tr>
          <td colspan="3" style="text-align: center;">Selecione o Atributo Cluster</td>
        </tr>
		{% endfor %}
	</tbody>
</table>