<article>
	<header style="text-align: center">
		<h3>Rótulo</h3>
	</header>
	<table>
		<thead>
			<tr>
				<th>Cluster</th>
				<th>#Elementos</th>
				<th>Atributo</th>
				<th>{% if discretizada %} Faixa {% else %} Valor {% endif %}</th>
				<th>Relevância</th>
				<th>Erros</th>
				<th>Taxa de Acerto</th>
			</tr>
		</thead>
		<tbody>
			{% for cluster in lista %}
				
				{% for linha in cluster %}
				<tr>
					{% if forloop.counter == 1%}
						<td>{{forloop.parentloop.counter}}</td>
					{% else %}
						<td></td>
					{% endif %}
					{% for coluna in linha %}
						{% if forloop.counter == 1 and forloop.parentloop.counter > 1%}
							<td></td>
						{% endif %}
						<td>{{coluna}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
				
			{% endfor %}
		</tbody>
	</table>
	<header style="text-align: center">
		<a onclick="downloadCsvFile()" class="button special">Baixar Base Discretizada</a>
		<a onclick="#" class="button special">Baixar Rótulo</a>
	</header>
	
</article>