<div>
    <strong style="color: red">Atenção!</strong> {{erro}} {{" "}}
    <a href="#" onclick="hideError()"><i style="font-size: 15px;color:darkred;" class="material-icons">backspace</i></a>
</div>
