<form id="form_algorithm">
	<div class="flex flex-2">
		<article>
			<header style="text-align: center">
				<h3>Discretização</h3>
			</header>
			<div id="tabela_discretizacao">
			{% include 'core/parciais/parcial_tabela_discretizacao.html' %}
			</div>
			<div style="text-align: center">
				<b>Não Discretizar</b>
				<td><input type="checkbox" name="discretization" id="discretization" onclick="changeDiscretization()"></td>
			</div>
		</article>
		<article>
			<header style="text-align: center">
				<h3>Cluster</h3>
			</header>
			<table style="text-align: center">
				<thead>
				<tr>
					<th>Atributo Cluster</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>
						<select name="cluster" id="cluster_select" onchange="changeDiscretizationTable()">
							<option disabled selected value> Selecione uma opção </option>
							{% for coluna in colunas2 %}
  							<option value="{{coluna}}">{{coluna}}</option>
  							{% endfor %}
						</select>
						</td>
					</tr>
				</tbody>
			</table>
			<header style="text-align: center">
				<h3>Algoritmo</h3>
			</header>
			<table style="text-align: center">
				<thead>
				<tr>
					<th>Multilayer Perceptron</th>
					<th>Classification And Regression Trees</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<input type="radio" id="mlp" name="algorithm" value="MLP" onclick="changeSettings()" checked>
         					<label for="mlp">MLP</label>
						</td>
						<td>
							<input type="radio" id="cart" name="algorithm" value="CART" onclick="changeSettings()">
  							<label for="cart">CART</label>
						</td>
					</tr>
					<tr>
						<td>
							<a id="mlp_set" href="#" onclick="showConfig(1)"><i class="material-icons" style="color:#331a51">settings</i></a>
						</td>
						<td>
							<a id="cart_set" href="#" onclick="showConfig(2)"><i class="material-icons" style="color:#331a51">settings</i></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="config" hidden></div>
			<input type="hidden" name="file_id"  id="file_id_algorithm" value="0">
			<header style="text-align: center">
				<a onclick="run()" class="button special">Run</a>
				<p>
					<div id="myProgress">
  						<div id="myBar">10%</div>
					</div>
				</p>
			</header>
		</article>
	</div>
</form>
	
