<header><a href="{% url 'core:home' %}" class="button special">Voltar</a></header>
<footer id="breakline">
			<div class="inner">
				<div class="copyright">
				</div>
			</div>
	</footer>
<header style="text-align: center">
	<i class="material-icons">insert_drive_file</i>
	<h3>{{ file_name }}</h3>
</header>
