<table>
	<thead>
		<tr>
			<th>Parâmetro</th>
			<th>Valor</th>
		</tr>
	</thead>
	<tbody id="colunas">
		<tr>
			<td>hidden_layer_sizes</td>
			<td><input type="number" name="hidden_layer_sizes" min="0" value="10"></td>
		</tr>
		<tr>
			<td>activation</td>
			<td>
				<select name="activation">
					<option>identity</option>
					<option>logistic</option>
					<option>tanh</option>
					<option selected>relu</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>learning_rate</td>
			<td>
				<select name="learning_rate">
					<option selected>constant</option>
					<option>invscaling</option>
					<option>adaptive</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>learning_rate_init</td>
			<td><input type="number" name="learning_rate_init" min="0" step="0.001" value="0.001"></td>
		</tr>
		<tr>
			<td>max_iter</td>
			<td><input type="number" name="max_iter" min="0" value="200"></td>
		</tr>
		<tr>
			<td>momentum</td>
			<td><input type="number" name="momentum" min="0" step="0.1" max="1" value="0.9"></td>
		</tr>	
	</tbody>
</table>